body {
    font-family: 'Overpass', sans-serif;
    background: rgb(228, 214, 203);
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

header {
    grid-area: header;
    background: rgba(68, 100, 37, 0.9);
    display: flex;
    flex-direction: row;
    align-items: center;   
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 10;
}

main {
    margin-top: 5.29rem;
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "main";
}

footer {
    grid-area: footer;
    background-color: rgb(68, 100, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;  
}

nav {
    display: flex;
    flex: 1;
}

/* CLASSES AND CHILDS*/
.logo {
    display: flex;
    flex: 1;
    text-align: center;
    max-width: 7rem;
    padding: 0.5rem;
}


nav > :first-child {
    padding: 0 1rem;
}

nav > :nth-child(3) {
    padding-left: 1rem;
}

.searchbar {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 1rem;
}

#searchbar {
    height: 1.4rem;
    border-radius: 4rem;
    border: none;
}

.video {
    padding: 1rem;
    display: flex;
    justify-content: center;
} 

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    padding: 1rem;
}

.overlay-headers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 5s fade-in;
    margin: 0;
    background: rgba(255, 255, 255, 0.623);
    text-align: center;
    padding: 1rem;
}

.relative {
    position: relative;
} 

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*LINKS*/

nav > a:link {
    text-decoration: none;
    color: white;
}

nav > a:visited {
    text-decoration: none;
    color: white;
}

nav > a:hover {
    text-decoration: none;
    color: rgb(50, 73, 28);
}

.relative > a:link {
    color: black;
}

.relative > a:visited {
    color:black;
}
.relative > a:hover {
    color:white;
}

.footer-link > a:link {
    color:white;
}
.footer-link > a:visited {
    color: white;
}
.footer-link > a:hover {
    color: rgb(50, 73, 28);
}

/* HIDDEN FOR DESKTOP*/

.menu-icon, .search-icon {
    display: none;
    margin: 0 1rem;
}

.sidebar {
    display: none;
}
