body {
    font-family: 'Overpass', sans-serif;
    background:  rgb(228, 214, 203);
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
    grid-area: header;
    background: rgba(68, 100, 37, 0.9);
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

main {
    grid-area: main;
    display: grid;
    display: flex;
    margin-top: 5.29rem;
}

footer {
    grid-area: footer;
    background-color: rgb(68, 100, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

/* CLASSES AND CHILDS */
header > a {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    flex: 1;
    text-align: center;
    max-width: 7rem;
    padding: 0.5rem;
}

nav {
    display: flex;
    flex: 1;
}

nav > :first-child {
    padding-right: 1rem;
    padding-left: 1rem;
}

nav > :nth-child(2) {
    padding-left: 1rem;
    padding-right: 1rem;

}
nav > :nth-child(3) {
    padding-left: 1rem;
    padding-right: 1rem;
}

.searchbar {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 1rem;
}

#searchbar {
    height: 1.4rem;
    border-radius: 4rem;
    border: none;
}

h2 {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    flex: .7;
    align-items: center;
    padding: 0 2rem 2rem 2rem;
}

.form-inputs {
    height: 2rem;
    width: 13rem;
    border-radius: 10px;
    border: none;
}

.message {
    height: 8rem;
}

button {
    color: white;
    background: rgb(50, 73, 28);
    font-size: 1rem;
}

iframe {
    opacity: 1;
    animation: fadein 7s;
}

@keyframes fadein {
    from { opacity: 0;}
    to { opacity: 1;}
}

/*LINKS*/
nav > a:link {
    text-decoration: none;
    color: white;
}
nav > a:visited {
    text-decoration: none;
    color: white;
}
nav > a:hover {
    text-decoration: none;
    color: rgb(50, 73, 28);
}
.footer-link > a:link {
    color:white;
}
.footer-link > a:visited {
    color: white;
}
.footer-link > a:hover {
    color: rgb(50, 73, 28);
}
/* HIDDEN FOR DESKTOP*/
.menu-icon, .search-icon {
    display: none;
    margin: 0 1rem;
}
.maps-small {
    display: none;
}
/* RESUSABLE CLASSES  */
.display-flex {
    display: flex;
}